# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

runpod==1.7.13
# vllm==0.10.1.1

# Moved to separate Dockerfile step because of requirements problems
#--extra-index-url https://flashinfer.ai/whl/cu124/torch2.6/
#flashinfer-python==0.2.5

# Quants
bitsandbytes>=0.45.5
